.navi {
    position: absolute;
    top: 10vh;
    left: 10px;
    border: 1px solid black;
    width: 97vw;
    height: 23vh;
}

#features {
    border-bottom: 1px solid black;
    background-color: rgb(228, 229, 230);
}

#features p {
    position: relative;
    margin-left: 10px;
    top: 5px;
}

#first-line p {
    position: relative;
    margin-left: 10px;
    top: 10px;
    font-size: 16px;
}

#sec-line p {
    margin-left: 10px;
}

.btn-style {
    position: relative;
    left: 10px;
    top: 7px;
}

h1 {
    position: relative;
    left: 10px;
    top: 5px;
}

.card-1 {
    position: relative;
    top: 3vh;
    left: 25vw;
}
.card-2{
    position: relative;
    bottom: 60vh;
    left: 10px;
    height: 50vh;
    width: 20vw;
}

/* Your CSS Code here. */